.footerMain {
padding: 20px 0;
background-color: #111111;
color: #555;
overflow: hidden;
}
.footerBox, .footerBox a, .footerCopyright{
	font-weight: 400;
}
.footerBox{
	padding: 0 20px;
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	align-content: center;
	font-size: 13px;
}
.footerCopyright {
	margin-top: 10px;
	margin-bottom: 10px;
}
.specLink {
	color: #959595;
}
.footerFirstList, .footerSecondList {
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-display: flex;
-ms-display: flex;
-moz-display: flex;
display: flex;
}
.footerFirstList{
	margin-right: auto;
}

.footerFirstList li:nth-child(-n+2), .footerSecondList li:first-child, .footerCopyright{
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #252525;
}

.footerBox a{
	transition: color 0.2s;
}

.footerBox a:hover{
	color: var(--mainColor);
}