	.burgertHeader{
		display: none;
	}

	.mainHeader{
		margin-top: 1.5%;
		width: 100%;
		position: absolute;
		-webkit-display: flex;
		-ms-display: flex;
		-moz-display: flex;
		display: flex;
		justify-content: space-evenly;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		flex-wrap: wrap;
		z-index: 1;
		color: var(--whiteColor);
	}

	.navigation, .navigation ul{
		-webkit-display: flex;
		-ms-display: flex;
		-moz-display: flex;
		display: flex;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		list-style: none;
	}

	.logo h1{
		-webkit-display: flex;
		-ms-display: flex;
		-moz-display: flex;
		display: flex;
    align-items: center;
    flex-wrap: nowrap;
		font-size: 20px;
		font-weight: normal;
	}

	.logoMain{
		cursor: var(--pointerCursor), pointer;
		width: 50px;
		height: 50px;
		fill: var(--whiteColor);
	}

	.logoMain use{
		cursor: var(--pointerCursor), pointer;
	}
	.navigation ul li{
		margin-left: 10px;
		margin-right: 10px;
		font-size: 14px;
	}

	.logo{
		-webkit-display: flex;
		-ms-display: flex;
		-moz-display: flex;
		display: flex;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		margin-left: 0px;
	}	
	.logo .headerTxt{
		font-family: 'Raleway', sans-serif;
	}
	.search svg, .shop svg{
		cursor: var(--pointerCursor), pointer;
		width: 20px;
		height: 20px;
		fill: var(--whiteColor);
	}

	.search svg use, .shop svg use{
		cursor: var(--pointerCursor), pointer;
	}

	.search svg:hover, .shop svg:hover, .headerTxt:hover, .logo:hover .logoMain, .logo:hover .headerTxt {
		color: var(--mainColor);
		fill: var(--mainColor);
	}

	