.lastestProject {
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	padding: 3% 30px;
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
}

.lastestProject .description{
	max-width: 600px;
	margin: 0 20px 10px;
}
.mainName {
	margin-bottom: 20px;
	font-size: 25px;
	color: var(--primaryColor);
	font-weight: 600;
}

.btnLastestProject {
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.btnMenu {
	font-family: 'Montserrat', sans-serif;
	display: block;
margin: 10px 3px 0;
	padding: 6px 20px;
	border-radius: 3px;
	font-size: 12px;
	border: 1px solid #ebebeb;
	color: var(--secondaryColor);
}
.logicBtnLastestProject:checked ~ .btnMenu{
	background-color: var(--buttonColor);
	color: var(--whiteColor);
	border-color: var(--buttonColor);
}
[name="btnLastestProject"]{
	display: none;
}

.boxCarts {
	margin: 30px 20px 20px;
	max-width: var(--container);
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 20px;
}
.contentBox {
	position: relative;
	flex: 1 1 280px;
	max-width: 350px;
	height: 33vmin;
	min-height: 280px;
	max-height: 350px;
	background-color: #fbfaf8;
	color: var(--mainColor);
	transition: 0.4s;
}

.lastestProject__boxCarts__img{
	width: 100%;
	height: 60%;
}

.lastestProject__boxCarts__img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.descriptionForPic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 5%;
	position: relative;
	width: 100%;
	height: 40%;
	text-align: left;
	z-index: 2;
	background-color: inherit;
}

.descriptionForPic::before{
	position: absolute;
	margin: 0;
	padding: 0;
	top: -5px;
	left: 10%;
	box-sizing: border-box;
	content: "";
	width: 18px;
	height: 18px;
	background-color: inherit;
	transform: rotate(45deg);
	z-index: -1;
}


.descriptionForPic h3{
	font-weight: 600;
	color: var(--mainColor);
}

.descriptionForPic p{
	font-weight: 400;
	color: #d1d1d1;
}

.contentBox:hover{
	background-color: #25221f;
}

.contentBox:hover .descriptionForPic h3{
	color: var(--whiteColor);
}

.contentBox:hover .descriptionForPic p{
	color: var(--mainColor);
}
.contentBox:hover .hiddenBox{
	opacity: 100%;
}

.hiddenBox{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #25221fa0;
	opacity: 0%;
	transition: 0.4s;
}


.hiddenBox a svg{
	width: 25px;
	height: 100%;
	fill: var(--whiteColor);
	margin: 0 5px;
	padding-bottom: 100px;
}

.hiddenBox a svg:hover{
	fill: var(--mainColor);
}
