.logos{
	padding: 80px 3%;
	background-image: linear-gradient(#080601a6, #080601a6), url(../img/logos/logo-bg.webp);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
}

.logosBox {
	margin: 0 auto;
	max-width: 1200px;
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	display: flex;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
	overflow: hidden;
}

.imgLogoBox{
	display: block;
	flex: 1 1 150px;	
	max-width: 210px;
}
.imgLogoBox img{
	width: 100%;
	object-fit: contain;
}