@media (max-width:1100px) {
	#btnRight:checked ~ .recentPostsBoxSlider{
		transform: translateX(calc((100vw / 3 - 10px) * -1));
	}
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 769px) and (max-width: 1170px) {
	.recentPostsContent{
		flex: 1 0 calc(94vw / 3 - 40px / 3);
		height: calc(94vw / 3 - 40px / 3);
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Large desktops and laptops */
@media (max-width: 916px) {
	.recentPostsDescriptionForPic h3, .recentPostsDescriptionForPic p{
		margin-bottom: 5px;
}
}

@media (max-width: 850px) {
	.recentPostsDescriptionForPic{
		font-size: 11px;
	}

	.recentPostsDescriptionForPic h3{
		font-size: 14px;
}
}

@media (min-width: 769px) and (max-width: 850px) {

	.mainHeader {
		padding: 0 20px;
		justify-content: unset;
	}

	.logo{
		margin-right: auto;
	}

	.navigation ul li {
		font-size: 14px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.font-sizeScale_f34 {
		font-size: calc(24px + (45 - 23) * ((100vw - 320px) / (991 - 320)));
		
	}

	.font-sizeScale_f25 {
		font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (991 - 320)));
	}
	/* Lastets Project section */
	.lastestProject{
		padding: 3% 0px;
	}

	.boxCarts{
		margin: 20px;
	}
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
 .introSliderSvg, .btnSliderArrow {
		display: none;
	}

	.slide{
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
		/* Header Menu Bar */
		.mainHeader{
			display: none;
		}
			/* Header Menu Bar */
			/* Header burger Menu Bar */
			input[type="radio"]{
				display: none;
			}
			.logo{
				margin: 0;
			}

		.burgertHeader{
			padding: 10px 25px;
			width: 100%;
			position: absolute;
			-webkit-display: flex;
			-ms-display: flex;
			-moz-display: flex;
			display: flex;
			-webkit-align-items: center;
	    -ms-align-items: center;
		  align-items: center;
			z-index: 30;
		}

		.burgerMenu{
			margin-right: auto;
			width: 30px;
			height: 30px;
			fill: var(--whiteColor);
			cursor: var(--pointerCursor), pointer;
		}
	
		.navigation{
			padding: 0px 10px;
			padding-top: 20px;
			display: block;
			position: fixed;
			top: 0;
			left: -250px;
			bottom: 0;
			width: 240px;
			transform: translateX(0px);
			background-image: linear-gradient(90deg, hsl(20deg 33% 23% / 80%), hsl(33deg 29% 69% / 80%));
			backdrop-filter: blur(5px);
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			transition: 0.5s;
		}

		.navigation ul{
			padding-top: 20px;
			text-align: center;
			display: block;
		}

		.navigation ul li{
			border-bottom: 1px solid white;
			height: 44px;
			padding: 10px 0px;
		}

		.navigation ul li a{
			font-size: 20px;
			font-weight: 900;
			color: white;
		}


		.closeMenuSvg{
			margin: 0;
			padding-left: 15px;
		}

		.closeSvg{
			width: 30px;
			height: 30px;
		}

		.search{
			margin-left: auto;
			display: block;
			width: 30px;
			height: 30px;
		}

		.search svg{
			width: 30px;
			height: 30px;
		}
	
		.logoMain{
			width: 60px;
			height: 60px;
		}

		.burgerMenu{
			transition: 0.5s;
		}

		* .burgerMenu > *, .burger g, .burger g rect{
			cursor: var(--pointerCursor), pointer;
		}

		.burgerMenu:hover{
			fill: var(--mainColor);
		}

		#burgerMenuId:checked ~ .navigation{
			transform: translateX(250px);
		} 

		 #burgerMenuId:checked ~ .burgerMenu{
			opacity: 0;
		}

		.shopBtn{
			padding-top: 20px;
		}

		.shop{
			display: block;
			width: 100%;
			text-align: center;
		}

		.shopBtn .shop svg{
			width: calc(20px + (30 - 20) * ((100vw - 260px) / (400 - 260)));
			max-width: 30px;
			height: calc(20px + (30 - 20) * ((100vh - 260px) / (400 - 260)));
		}

		/* Header burger Menu Bar End*/

		/* Gradient */
		.boxGradient{
			padding: 20px 10px;
		}

		.boxGradientContainer{
			margin: 0 auto;
			text-align: center;
		}

		.textContent{
			margin: 0 auto;
		}

		.textContent p{
			margin: 0 auto;
			padding-bottom: 20px;
		}

		.btnGrad{
			margin: 0 auto;
		}

		/* Lastets Project section */

		.lastestProject{
			padding: 3% 0px;
		}
	
		.boxCarts{
			margin: 20px;
		}

		.mainName{
			margin-bottom: 10px;
			font-size: calc(18px + (25 - 18) * ((100vw - 260px) / (768 - 260)));
		}

		.lastestProject .description{
			margin: 0 20px;
		}

	/* Mobile Dev */

	.mobileDev{
		padding-top: calc(2% + (4 - 2) * ((100vw - 260px) / (768 - 260)));
	}

	.descriptionBoxForMobile h3{
		margin-bottom: calc(5px + (30 - 5) * ((100vw - 260px) / (768 - 260)));
		font-size: calc(20px + (30 - 25) * ((100vw - 260px) / (768 - 260)));
	}

	.descriptionBoxForMobile p{
		margin-bottom: calc(0px + (30 - 0) * ((100vw - 260px) / (768 - 260)));
		font-size: calc(12px + (14 - 12) * ((100vw - 260px) / (768 - 260)));
	}
	
	/* Global font-size */
	.font-sizeScale_f34 {
		font-size: calc(24px + (45 - 23) * ((100vw - 320px) / (991 - 320)));
		
	}

	.font-sizeScale_f25 {
		font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1100 - 320)));
	}

	/* Recent Posts */

	.recentPosts{
		padding: 2%;
	}

	.descriptionForRecentPosts{
		margin: 0 auto 10px;
	}

	.recentPostsContent {
    flex: 1 0 calc(50vw - 2% - 11px);
    height: calc(50vw - (50 - 20) * ((100vw - 600px) / (768 - 600)));
	}

	#btnRight:checked ~ .recentPostsBoxSlider{
		transform: translateX(calc((50vw - 5px) * -1));
	}
	/* Recent Posts */
}


/* Landscape phones and smaller */
@media (max-width: 480px) {
		/* intro slider section */
 .introSliderSvg, .btnSliderArrow {
	display: none;
}

	/* gradient section */
.boxGradientContainer{
	max-width: 350px;
}
.textContent > *{
	margin: 0 auto;
	padding-bottom: 10px;
}

.textContent p{
text-align: center;
max-width: 300px;
}

/* Mobile Dev */
.mobileDev{
	padding: 2% 4%;
}

.picturePhone{
	display: none;
}

/* Statistic */

.statistic{
	padding: calc(10px + (30 - 10) * ((100vw - 260px) / (1100 - 260))) 0;
}

.listStatistic li{
	flex: 1 1 120px;
}

.boxStatistic svg{
	margin-bottom: calc(10px + (30 - 10) * ((100vw - 260px) / (1100 - 260)));
}

.amountOf{
	margin-bottom: calc(10px + (15 - 10	) * ((100vw - 260px) / (1100 - 260)));
	font-size: calc(30px + (48 - 30) * ((100vw - 260px) / (1100 - 260)));
}

.descriptionStatistic{
	padding-bottom: calc(15px + (30 - 15) * ((100vw - 260px) / (1100 - 260)));
	font-size: calc(12px + (14 - 12) * ((100vw - 260px) / (1100 - 260)));
}

}

@media (max-height: 412px){

	.linksToEachPage{
		bottom: calc(8px + (48 - 8) * ((100vh - 260px) / (411 - 260)));
	}

	/* Header */
	.mainHeader{
		display: none;
	}
		/* Header Menu Bar */
		/* Header burger Menu Bar */
		input[type="radio"]{
			display: none;
		}

		.logo{
			margin: 0;
		}

	.burgertHeader{
		padding: 10px 25px;
		width: 100%;
		position: absolute;
		-webkit-display: flex;
		-ms-display: flex;
		-moz-display: flex;
		display: flex;
		-webkit-align-items: center;
	  -ms-align-items: center;
	  align-items: center;
		z-index: 30;
	}

	.burgerMenu{
		margin-right: auto;
		width: 30px;
		height: 30px;
		fill: var(--whiteColor);
	}

	.navigation{
		padding: 0px 10px;
		padding-top: 20px;
		display: block;
		position: fixed;
		top: 0;
		left: -100%;
		bottom: 0;
		width: 240px;
		transform: translateX(0px);
		background-image: linear-gradient(90deg, hsl(20deg 33% 23% / 80%), hsl(33deg 29% 69% / 80%));
		backdrop-filter: blur(5px);
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		transition: 0.5s;
	}

	.navigation ul{
		text-align: center;
	}

	.navigation ul li{
		border-bottom: 1px solid white;
		height: 44px;
		padding: 10px 0px;
	}

	.navigation ul li a{
		font-size: 20px;
		font-weight: 900;
		color: white;
	}


	.closeMenuSvg{
		margin: 0;
		padding-left: 15px;
	}

	.closeSvg{
		width: 30px;
		height: 30px;
	}


	.search{
		margin-left: auto;
		display: block;
		width: 30px;
		height: 30px;
	}
	.search svg{
		width: 30px;
		height: 30px;
	}

	.logoMain{
		width: 60px;
		height: 60px;
	}

	.burgerMenu{
		transition: 0.5s;
	}

	.burgerMenu:hover{
		fill: var(--mainColor);
	}

	#burgerMenuId:checked ~ .navigation{
		transform: translateX(100%);
	} 

	 #burgerMenuId:checked ~ .burgerMenu{
		opacity: 0;
	}

	.shopBtn{
		padding-top: 20px;
	}

	.shop{
		display: block;
		width: 100%;
		text-align: center;
	}

	.shopBtn .shop svg{
		width: calc(20px + (30 - 20) * ((100vw - 260px) / (400 - 260)));
		max-width: 30px;
		height: calc(20px + (30 - 20) * ((100vh - 260px) / (400 - 260)));
	}

	/* Header burger Menu Bar End*/
}

@media (max-height: 412px) and (orientation: landscape), (max-height: 412px) {
	/* burger menu */
	.navigation{
		width: 100%;
		transform: translateX(-100%);
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.navigation ul{
		column-gap: 40px;
    position: absolute;
    top: 44%;
		left: 50%;
    width: 100%;
    height: calc(200px + (300 - 200) * ((100vh - 260px) / (400 - 260)));
		transform: translate(-50%, -50%);
		-webkit-display: flex;
		-ms-display: flex;
		-moz-display: flex;
		display: flex;
		flex-direction: column;
    flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
		pointer-events: none;
	}

	.navigation ul li{
		border-bottom: 1px solid white;
		height: calc(16vh + (20 - 16) * ((100vh - 260px) / (400 - 260)));
		margin: 0;
		padding: calc(7.5px + (17.5 - 7.5) * ((100vh - 260px) / (400 - 260))) 0;
		width: calc(30% + (40 - 25) * ((100vh - 260px) / (400 - 260)));
		pointer-events: all;
	}

	.navigation ul li a{
		font-size: calc(22px + (30 - 25) * ((100vh - 260px) / (400 - 260)));
		font-weight: 900;
		color: white;
	}

	.shopBtn{
		position: absolute;
		bottom: 5px;
		width: 100%;
		text-align: center;
		pointer-events: all;
	}

	.shopBtn .shop svg{
		width: calc(40px + (80 - 40) * ((100vh - 260px) / (400 - 260)));
		height: calc(40px + (80 - 40) * ((100vh - 260px) / (400 - 260)));
	}

	/* burger menu end */

/* intro slider */
	 .introSliderSvg, .btnSliderArrow {
		display: none;
	}

	.slide{
		align-items: unset;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
	}
	
	.introTxt{
		padding-top: 50px;
		display: flex;
		-webkit-align-items: center;
	  -ms-align-items: center;
	  align-items: center;
	}

	.mainText{
		transform: scale(0.9);
	}

	 .mainText h2, .mainText h4 {
		margin-bottom: 0px;
	}

	.mainText p{
		margin-bottom: 10px;
	}

	.btnStarter{
		transform: scale(1.1);
	}

		/* What We Do */
	.whatWeDo{
		padding: 0;
		gap: 0;
	}

	.BoxPreview a .nameOfProduct{
		font-size: 17px;

	}

		.BoxPreview{
			transform: scale(0.8);
			flex: 1 1 140px;
		}


	/* lastest Project */
 .mainName, .btnLastestProject{
		margin-bottom: 0px;
		transform: scale(0.9);
	}

	.lastestProject .description{
		margin-bottom: 10px;
	}

	.contentBox{
		flex: unset;
		min-height: unset;
		width: calc(100vw / 2 - 40px);
    height: calc(100vh - 30px);
	}

	.boxCarts{
		margin: 20px 0;
	}

	/* presentation */
	.presentationBox{
		height: 120%;
	}
	
	/* Mobile Dev */
	.picturePhone{
		display: none;
	}

	.mobileDev{
		padding-top: calc(2% + (4 - 2) * ((100vh - 260px) / (768 - 260)));
	}

	.descriptionBoxForMobile h3{
		margin-bottom: calc(5px + (30 - 5) * ((100vh - 260px) / (768 - 260)));
		font-size: calc(20px + (30 - 20) * ((100vh - 260px) / (768 - 260)));
	}

	.descriptionBoxForMobile p{
		margin-bottom: calc(0px + (30 - 0) * ((100vh - 260px) / (768 - 260)));
		font-size: 13px;
	}

		/* Statistic */
	.listStatistic .boxStatistic > *{
		margin-bottom: 10px;
	}

	.listStatistic li{
		flex: 1 1 100px;
	}

	.amountOf{
		font-size: 30px;
	}

	.descriptionStatistic{
		font-size: 11px;
	}


			/* Recent Posts */

	.recentPostsContent {
    flex: 1 0 calc((60vw - 3%) / 2 + 9px);
    height: calc(74vw / 2);
	}

	.recentPostsDescriptionForPic{
		font-size: 10px;
	}

	.recentPostsDescriptionForPic h3{
		font-size: 12px;
	}

	#btnRight:checked ~ .recentPostsBoxSlider{
		transform: translateX(calc((60vw / 2 + 19px) * -1));
	}
}


@media (max-width: 390px) and (orientation: portrait) {
	/* statistic section */
	.listStatistic li:nth-child(1){
		order: 1;
	}

	.listStatistic li:nth-child(2){
		order: 2;
	}

	.listStatistic li:nth-child(3){
		order: 4;
	}

	.listStatistic li:nth-child(4){
		flex: 1 0 100%;
		max-width: 100%;
		order: 3;
	}

	.listStatistic li:nth-child(5){
		order: 5;
	}
}

@media (max-width: 380px) {
	.recentPostsContent {
    flex: 1 0 calc(92vw);
    height: calc(92vw);
	}

	#btnRight:checked ~ .recentPostsBoxSlider{
		transform: translateX(calc((92vw + 18px) * -1));
	}
}

@media (min-width: 600px) and (orientation: landscape) and (max-height: 390px) {
	.picturePhone{
		width:58%;
		display: block;
	}

	.descriptionBoxForMobile h3{
		margin-bottom: 0;
    font-size: calc(16px + (20 - 16) * ((100vh - 260px) / (390 - 260)));
	}

	.descriptionBoxForMobile p {
    margin-bottom: calc(0px + (30 - 0) * ((100vh - 260px) / (390 - 260)));
    font-size: 12px;
	}

	.mobileTxt .list svg{
		flex: 0 0 16px;
		height: 16px;
	}

	.mobileTxt .list .description {
    color: var(--secondaryColor);
		font-size: 10px;
	}
	
}


@media (max-width: 170px) {
	body{
		overflow-x: hidden	;
	}
}
