.mobileDev {
	padding: 2% 2%;
	padding-bottom: 0;
	width: 100%;
}

.mobileDevContainer{
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	display: flex;
}
.mobileTxt{
	margin: auto;
	margin-left: 0;
}

.descriptionBoxForMobile h3{
	font-size: 30px;
	font-weight: 600;
	color: var(--primaryColor);
	margin-bottom: 30px;
}
.descriptionBoxForMobile p{
	margin-bottom: 30px;
	font-size: 14px;
	max-width: 750px;
	font-weight: 400;
	line-height: 1.75;
	color: var(--secondaryColor);
}

.picturePhone{
	margin-top: auto;
}

.picturePhone img{
	width: 100%;
	object-fit: contain;
	vertical-align: sub;
}

.list {
	padding-left: 3%;
}

.list li{
	display: flex;
	-webkit-align-items: center;
  -ms-align-items: center;
	align-items: center;
	margin: 10px 0;
	font-weight: 400;
}
.list li svg{
	padding: 4px;
	flex: 0 0 22px;
	width: 22px;
	height: 22px;
	background-color: var(--mainColor);
	border-radius: 50%;
	fill: var(--whiteColor);
}
.mobileTxt .list .description {
	margin-left: calc(10px + (20 - 10) * ((100vw - 260px) / (768 - 260)));
	color: var(--secondaryColor);
}