.presentationBox{
	font-size: 16px;
	padding: 110px;
	width: 100%;
	background-image: url(../img/presentation/desk1.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.videoPresentation{
	display: none;
	width: 100%;
	object-fit: contain;
}

.presentationHeader{
	margin: 0px auto;
	max-width: 600px;
	color: var(--whiteColor);
	text-align: center;
}

.boxlogo svg{
	padding: 0.9em;
	width: 6em;
	height: 6em;
	fill: var(--whiteColor);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.404);
	transition: fill 0.5s;
}
.boxlogo svg:hover{
	fill: var(--mainColor);
}
.presentationName {
	margin: 0.5em 0;
	font-size: 1.875em;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}
.descriptionVideo{
	line-height: 1.6;
	margin-bottom: 1.875em;
	font-family: 'Montserrat', sans-serif;
}
.timeOfVideo {
	margin: 0;
	font-size: 0.875em;
	color: var(--mainColor);
}

