.presentationBox{
	display: flex;
	position: relative;
	width: 100%;
}

.videoPresentation{
	width: 100%;
	object-fit: contain;
}

.presentationHeader{
	max-width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
	color: var(--whiteColor);
}

	.boxlogo{
		margin: 0px auto 15px;
		position: relative;
	}
.boxlogo svg{
	padding: 15px;
	width: 100px;
	height: 100px;
	fill: var(--whiteColor);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.404);
	transition: fill 0.5s;
}
.boxlogo svg:hover{
	fill: var(--mainColor);
}
.presentationName {
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}
.descriptionVideo,  .timeOfVideo{
	line-height: 1.6;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
}
.timeOfVideo {
	margin: 0;
	font-size: 14px;
	color: var(--mainColor);
}

