*{
	cursor: url(../cursor/Swapped_macOS_Cursor.png), default;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	scroll-behavior: smooth;
}
body{
	animation: scroll 4ms 4s 1;
	overflow: hidden;
	animation-fill-mode: forwards;
}
.preload{
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	display: flex;
	justify-content: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: white;
	opacity: 100%;
	animation-name: stopPreload;
	animation-delay: 4s;
	animation-duration: 4ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-direction: normal;
	z-index: 9999;
}

.circle{
	width: 100px;
	height: 100px;
}
.circle::before{
	overflow: hidden;
	overflow-y: hidden;
	width: 100px;
	height: 100px;
	position: absolute;
	display: block;
	content: "";
	-webkit-box-shadow: 0 0 6px 6px #c2b19b;
	border-radius: 50%;
	animation: preload 1s infinite linear;
}

@keyframes preload {
	0%, 100%{
		-webkit-box-shadow: 0 -6px 0px 0px #c2b19b;
	}
	25%{
		-webkit-box-shadow: 6px 0px 0px 0px #c2b19b;
	}

	50%{
		-webkit-box-shadow: 0px 6px 0px 0px #c2b19b;
	}

	75%{
		-webkit-box-shadow: -6px 0px 0px 0px #c2b19b;
	}
}

@keyframes stopPreload {
	99%{
		overflow-y: hidden;
		opacity: 100%;
	}
	100%{
		overflow: hidden;
		opacity: 0%;
		z-index: -1;
	}
}

@keyframes scroll {
	99%{
		overflow-y: hidden;
	}
	100%{
		overflow-y: auto;
	}
}