	*{
		cursor: url(../cursor/Swapped_macOS_Cursor.png), default;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: 0;
		scroll-behavior: smooth;

	}

	::selection{
		background-color: var(--mainColor);
		color: var(--whiteColor);
	}

	::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}
	
	::-webkit-scrollbar
	{
		width: 12px;
		background-color: #F5F5F5;
	}
	
	::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: var(--mainColor);
	}

	body{
		font-family: 'Montserrat', sans-serif;
	}

	a{
		cursor: var(--pointerCursor), pointer;
		color: inherit;
		text-decoration: none;
	}
	ul{
		list-style: none;
	}

	.btnStarter{
		display: inline-block;
		font-family: 'Raleway', sans-serif;
		margin: 0 auto;
		margin-bottom: 3px;
		padding: 12px 30px;
		background-color: var(--buttonColor);
		color: var(--whiteColor);
		border: none;
		text-transform: uppercase;
		line-height: 1.6;
		border-radius: 3px;
		font-size: 11px;
		font-weight: 700;
		-webkit-box-shadow: inset 0 -3px #736359;
		box-shadow: inset 0 -3px #736359;
		transition: 0.2s;
		transform: scale(1.2);
	}

	.btnStarter:hover, .btnStarter:focus{
		margin-top: 3px;
		margin-bottom: 0;
		-webkit-box-shadow: inset 0 0px #736359;
		box-shadow: inset 0 0px #736359;
	}
	.container{
		margin: 0 auto;
		max-width: var(--container);
	}

	.font-sizeScale_f34 {
		font-size: 45px;
	}
	.font-sizeScale_f25 {
		font-size: 40px;
	}

	.font-sizeScale_f21 {
		font-size: calc(21px + (30 - 21) * ((100vw - 320px) / (1100 - 320)));
	}
	.font-sizeScale_14 {
		font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1100 - 320)));
	}

	.boxScrollBtn{
		position: absolute;
		width: 50px;
		height: 563vh;
		background-color: #333;
		z-index: 999;
		right: 0;
		top: 0;
	}

	.scrollBtn {
		display: block;
		background-color:	transparent;
		width: 40px;
		height: 40px;
		text-align: center;
		border: 1px solid var(--secondaryColor);
		border-radius: 4px;
		position: fixed;
		bottom: 80px;
		right: 5px;
		transition: background-color .3s;
		z-index: 1000;
	}
	.scrollBtn::after {
		position: absolute;
		display: block;
		content: "";
		width: 20px;
		height: 20px;
		border-top: 3px solid var(--mainColor);
		border-right: 3px solid var(--mainColor);
		transform: translate(-50%, -50%) rotate(315deg);
		left: 50%;
		top: 60%;
	}

	.btnDw{
		bottom: unset;
		top: 70px;
	}

	.btnDw::after{
		transform: translate(-50%, -50%) rotate(135deg);
		top: 40%;
	}

	.scrollBtn:hover {
			cursor: var(--pointerCursor), pointer;
		background-color: var(--primaryColor);
	}
	.scrollBtn:active {
		background-color: #555;
	}
	.scrollBtn.show {
		opacity: 1;
		visibility: visible;
	}
