/* colors */
:root{
	--mainColor: #c7b299;
	--primaryColor: #555555;
	--secondaryColor: #8c8c8c;
	--whiteColor: #ffff;
	--buttonColor: #998675;
}
/* Size */
:root{
--container: 1100px;
}

/* cursor */
:root{
	--pointerCursor: url(../cursor/Kick_Me_Pointer.png);
}