.whatWeDo{
	box-sizing: content-box;
	padding: 2% 2%;
	-webkit-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	justify-content:center;
	gap: 20px;
	min-height: 280px;
}

.BoxPreview{
	max-width: 260px;
	flex: 1 1 200px;
}

.BoxPreview a {
	display: block;
	text-align: center;
	width: 100%;
	color: var(--primaryColor);
	fill: var(--primaryColor);
}
.BoxPreview a> *{
margin-bottom: 20px;
}
.logoWhatWeDo{
	width: 50px;
	height: 50px;
}
.logoWhatWeDo svg{
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
}

.nameOfProduct{
	font-weight: 600;
	font-size: 20px;
}
.description {
	font-size: 13px;
	font-weight: 500;
	line-height: 160%;
	color: var(--secondaryColor);
}
.hrLine {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border-bottom: 3px solid;
}

.BoxPreview a:hover{
	color: var(--mainColor);
	fill: var(--mainColor);
} 